.hotel-search-content {
    display: flex;
    padding: 40px 300px 40px 60px;
}

@media only screen and (max-width: 992px) {
    .hotel-search-content {
        padding: 40px 120px 40px 60px;
    }
}

.sidebar-filter-wrapper {
    width: 400px;
    display: flex;
    flex-direction: column;
    margin-right: 30px;
}

.rank-filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.star-filter input[type="checkbox"] {
    display: none;
}
.option-one-star,
.option-two-stars,
.option-three-stars,
.option-four-stars,
.option-five-stars {
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 6px 12px;
    margin-right: 10px;
}
/* #one-star:checked ~ .option-one-star */
.service-filter {
    display: flex;
    flex-direction: column;
}
.service-filter label {
    margin-top: 10px;
    font-size: 16px;
}
.service-filter input {
    margin-right: 8px;
}

.list-hotel-wrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.sort-hotel {
    position: relative;
    margin-left: auto;
}
.sort-hotel span {
    position: absolute;
    top: 5px;
    left: 12px;
    font-size: 12px;
    font-weight: 700;
}
.sort-hotel select {
    width: 300px;
    border-radius: 5px;
    padding: 30px 30px 10px 10px;
    font-size: 16px;
}

.item-hotel{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
}
.item-hotel .img-hotel{
    display: inline-flex;
}
.item-hotel img{
    width: 300px;
    height: auto;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.hotel-info{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.hotel-info .hotel-name{
    font-size: 24px;
    font-weight: 700;
}
.hotel-price{
    display: flex;
    flex-direction: column;
    align-items: end;
}
.hotel-price .sale-percent{
    background-color: #c42525;
    color: #fff;
    border-radius: 4px;
    padding: 4px 6px;
    font-size: 14px;
    font-weight: 600;
}

.hotel-price .price-hotel{
    display: flex;
    align-items: center;
}
.hotel-price .price-bricks{
    text-decoration: line-through;
    margin-right: 10px;
}
.hotel-price .price{
    margin: 0;
    font-size: 24px;
    font-weight: 700;
}