.hotel-search-content {
    display: flex;
    padding: 40px 300px 40px 60px;
    margin-left: 150px;
}

h3 {
    margin: 10px 0 8px 0;
}


.sidebar-filter-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 60px 0 200px;
    padding-top: 100px;
    width: 20vw;
}

.search-anything-text {
    height: 30px;
    font-size: 14px;
    color: black;
    background-color: whitesmoke;
    border: 0.4px solid grey;
    border-radius: 4px;
    text-indent: 10px;
}

.search-anything-text:focus {
    border: 0.6px solid grey;
}

.rank-filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.rank-filter > * {
    margin-bottom: 6px;
}

.star-filter input[type="checkbox"] {
    display: none;
}

/* #one-star:checked ~ .option-one-star */
.service-filter {
    display: flex;
    flex-direction: column;
}

.service-filter label {
    font-size: 16px;
    margin-bottom: 10px;
}

.service-filter input {
    margin-right: 8px;
}

.list-hotel-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 250px;
    width: 70vw;
    padding-top: 10px;
}

.item-hotel {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    margin-top: 30px;
}

.item-hotel .img-hotel {
    display: inline-flex;
}

.item-hotel img {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: auto;
    width: 300px;
}

.hotel-info {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

.hotel-info .hotel-name {
    color: #d32f2f;
    font-size: 24px;
    font-weight: 700;
}

.hotel-price {
    align-items: end;
    display: flex;
    flex-direction: column;
}

.hotel-price .sale-percent {
    background-color: #c42525;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 6px;
}

.hotel-price .price-hotel {
    align-items: center;
    display: flex;
}

.hotel-price .price-bricks {
    margin-right: 10px;
    text-decoration: line-through;
}

.hotel-price .price {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}