.hotel-search-content {
    display: flex;
    padding: 40px 300px 40px 60px;
    margin-left: 150px;
}

h3 {
    margin: 10px 0 8px 0;
}

@media only screen and (max-width: 992px) {
    .hotel-search-content {
        padding: 40px 120px 40px 60px;
    }
}

.sidebar-filter-wrapper {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
    width: 400px;
}

.rank-filter {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.rank-filter > * {
    margin-bottom: 6px;
}

.star-filter input[type="checkbox"] {
    display: none;
}

/* #one-star:checked ~ .option-one-star */
.service-filter {
    display: flex;
    flex-direction: column;
}

.service-filter h3 {
    margin-bottom: 6px;
}

.service-filter label {
    font-size: 16px;
    margin-bottom: 10px;
}

.service-filter input {
    margin-right: 8px;
}

.list-hotel-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.sort-hotel {
    margin-left: auto;
    position: relative;
}

.sort-hotel span {
    font-size: 12px;
    font-weight: 700;
    left: 12px;
    position: absolute;
    top: 5px;
}

.sort-hotel select {
    border-radius: 5px;
    font-size: 16px;
    padding: 30px 30px 10px 10px;
    width: 300px;
}

.item-hotel {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    margin-top: 30px;
}

.item-hotel .img-hotel {
    display: inline-flex;
}

.item-hotel img {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    height: auto;
    width: 300px;
}

.hotel-info {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
}

.hotel-info .hotel-name {
    color: #d32f2f;
    font-size: 24px;
    font-weight: 700;
}

.hotel-price {
    align-items: end;
    display: flex;
    flex-direction: column;
}

.hotel-price .sale-percent {
    background-color: #c42525;
    border-radius: 4px;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 6px;
}

.hotel-price .price-hotel {
    align-items: center;
    display: flex;
}

.hotel-price .price-bricks {
    margin-right: 10px;
    text-decoration: line-through;
}

.hotel-price .price {
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}