.detail-hotel-page {
    margin: 1vw 22vw 0 11vw;
    width: 70%
}
.overview {
    width: 100%;
    margin-bottom: -7px;
}
.back-list-page {
    border-radius: 0.25rem;
    background-color: #ffffff;
    padding: 25px 0 20px 10px;
}
.back-list-page span {
    margin-left: 15px;
}
.link-back-list-page {
    color: #156bc1 !important;
    font-size: 15px;
}
.link-back-list-page:hover > span {
    text-decoration: underline;
}
.select-room {
    padding-top: 35px;
    margin-right: -12px;
}
.select-room h1 {
    font-size: 30px;
}
.list-room {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 32%));
    grid-gap: 15px;
    width: 100%;
}
.location {
    padding-top: 35px;
    margin-bottom: -40px;
}
.service {
    margin-top: 45px;
    padding-top: 20px;
    margin-bottom: 70px;
}