.detail-hotel-page {
    margin: 1vw 22vw 0 11vw;
    width: 70%;
}
.overview {
    width: 100%;
    margin-bottom: -7px;
}
.back-list-page {
    border-radius: 0.25rem;
    background-color: #ffffff;
    padding: 25px 0 20px 10px;
}
.back-list-page span {
    margin-left: 15px;
}
.link-back-list-page {
    color: #156bc1 !important;
    font-size: 15px;
}
.link-back-list-page:hover > span {
    text-decoration: underline;
}
.images-hotel {
    display: flex;
    flex-direction: row;
}
.images-hotel .big-img {
    width: 50%;
    height: auto;
    margin-right: 3px;
}
.images-hotel .big-img img {
    width: 100%;
}
.images-hotel .small-img {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: auto;
}
.small-img-col {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.tabs-container {
    position: sticky;
    top: 0;
}
.tabs-container ul {
    border-radius: 0.25rem;
    background-color: #ffffff;
    border-bottom: 1px solid rgb(220, 218, 218);
    margin: 0 0 7px;
    list-style: none;
    display: inline-block;
    vertical-align: middle;
    min-width: 96.2%;
}
.tab-items {
    float: left;
    font-size: 15px;
    margin-right: 20px;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 8px;
}
.tab-items {
    color: black;
}
.tab-items:hover {
    border-bottom: 2px solid black;
    padding-bottom: 10px;
}
.tab-items:hover {
    color: black;
}
.tab-selected  {
    color:#d32f2f !important;
    border-bottom: 2px solid #d32f2f !important;
}
.info-hotel {
    border-radius: 0.25rem;
    background-color: #ffffff;
    margin-top: -7px;
    margin-bottom: -30px;
    padding: 10px 30px 25px;
}
.name-rate h1 {
    font-size: 30px;
}
.name-rate h2, .service-outstanding h2, .address h2 {
    font-size: 22px;
}
.star-icon {
    font-size: 20px;
}
.star-rate {
    margin-top: -20px;
}
.service-outstanding {
    width: 100%;
}
.list-service {
    list-style: none;
    display: grid;
    grid-template-columns: auto auto;
}
.service-item {
    padding: 10px 0;
}
.service-item-icon {
    font-size: 19px;
    width: 25px;
}
.service-item span {
    margin-left: 10px;
    font-size: 15px;
}
.address {
    margin-top: -20px;
}
.select-room {
    padding-top: 35px;
    margin-right: -12px;
}
.select-room h1 {
    font-size: 30px;
}
.list-room {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(32%, 32%));
    grid-gap: 15px;
    width: 100%;
}
.room-items img {
    width: 100%;
    height: 210px;
    border-radius: 0.5rem 0.5rem 0 0;
}
.info-room {
    background-color: #ffffff;
    padding: 0 15px 15px;
    border-radius: 0 0 0.25rem 0.25rem;
    margin-top: -7px;
    border: 1px solid rgb(220, 218, 218);
}
.info-room h3 {
    font-size: 17px;
}
.conv-room {
    list-style: none;
    margin-left: -40px;
}
.service-room-item {
    padding-bottom: 5px;
    font-size: 15px;
    width: 100%;
}
.service-room-icon {
    width: 25px;
    font-size: 16px !important;
    margin-right: 5px;
}
.moon-icon {
    margin-bottom: -5px;
}
.refund {
    font-size: 14px;
    line-height: 0.5rem;
}
.refund p:first-child {
    color: #218242;
    font-weight: 600;
    font-size: 15px !important;
}
.cost-book {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
}
.price-room {
    width: 70%;
}
.price-room .discount {
    font-weight: 500;
    color: #ffffff;
    background-color: #d32f2f;
    font-size: 13px;
    border-radius: 0.25rem;
    padding: 5px 8px;
}
.price {
    margin-top: 10px;
}
.discounted-price {
    font-weight: 700;
    font-size: 23px;
}
.origin-price {
    text-decoration: line-through;
    font-size: 14px;
}
.price-room p {
    font-size: 14px;
    width: 60%;
    line-height: 1.2rem;
    margin-top: 2px;
}
.number-left-rooms {
    width: 30%;
    text-align: right;
    margin-top: 50px;
    line-height: 0.5;
}
.number-left-rooms p {
    color: #972020;
    font-size: 13px;
}
.number-left-rooms .book-btn {
    background-color: #156BC1;
    color: #FFFFFF;
    border-radius: 2500rem;
    font-size: 16px;
    width: 78px;
    align-items: center;
}
.location {
    padding-top: 35px;
    margin-bottom: -40px;
}
.service {
    margin-top: 45px;
    padding-top: 20px;
    margin-bottom: 70px;
}
.location-info, .location-overview, .service-info {
    background-color: #ffffff;
    border-radius: 0.25rem;
    padding: 5px 35px 10px 30px;
    display: flex;
    flex-direction: row;
}
.title-info {
    width: 30%;
    text-align: left;
    margin-right: 30px;
}
.content-info {
    width: 70%;
}
.title-info h2 {
    font-size: 24px;
    line-height: 1.3;
}
.content-info h3 {
    font-size: 21px;
    line-height: 1.2;
}
.content-info p {
    font-size: 15px;
    line-height: 1.3;
}
.description-hotel {
    padding-top: 10px;
    margin-bottom: 50px;
}
.description-hotel p, .language p{
    margin-top: -10px;
}
.location-overview, .service-info {
    margin-top: 20px;
    padding-right: 30px !important;
    padding-bottom: 30px;
}
.grid-location-service {
    margin-top: 0;
    display: grid;
    grid-template-columns: auto auto;
}
.location-overview-item, .service-info-item {
    display: flex;
    flex-direction: row;
    margin-right: 40px;
}
.location-overview-icon, .service-info-icon {
    margin-right: 15px;
    margin-top: 24px;
    width: 25px;
    font-size: 21px;
}
.location-overview-item ul, .service-info-item ul {
    list-style: none;
    margin: -10px 0 0 -35px;
    line-height: 1.1;
}
.location-overview-item ul li, .service-info-item ul li {
    font-size: 15px;
    padding-bottom: 10px;
}